main {
    width: 75vw;
    max-width: 600px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

main > section:nth-child(1){
    min-width: 100%;
    border: 2px solid black;
    height: 80px;
}

main > section:nth-child(2){
    border: 2px solid black;
    height: 300px;
    width: 350px;
    flex: 1 1 350px;
}
main > section:nth-child(3){
    border: 2px solid black;
    height: 300px;
    width: 200px;
    flex: 1 1 180px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
main > section:nth-child(3) > div:nth-child(1) {
    border: 2px solid black;
    height: 150px;
    width: 100%;
}
main > section:nth-child(3) > div:nth-child(2) {
    border: 2px solid black;
    height: 200px;
    width: 100%;
}

main > section:nth-child(4){
    min-width: 100%;
    border: 2px solid black;
    height: 150px;
}

main > section:nth-child(5){
    min-width: 100%;
    border: 2px solid black;
    height: 40px;
}