main {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 75vw;
    padding: 10px;
    gap: 20px;
}

main > section:nth-child(1) {
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
}
main > section:nth-child(1) > div:nth-child(1) {
    height: 150px;
    flex: 1 1 250px;
    max-width: 300px;
    border: 2px solid black;
}
main > section:nth-child(1) > div:nth-child(2) {
    height: 150px;
    flex: 1 1 300px;
    max-width: 600px;
    border: 2px solid black;
}
main > section:nth-child(1) > div:nth-child(3) {
    height: 150px;
    flex: 1 1 300px;
    min-width: 100%;
    border: 2px solid black;
}


main > section:nth-child(2) {
    height: 100px;
    border: 2px solid black;
}